#queenButton{
 background-color: white;
 color : green;
}
#rookButton{
    background-color: black;
    color : green;
}
#knightButton{
    background-color: black;
    color : green;
}
#bishopButton{
    background-color: black;
    color : green;
}
#pawnPromotionOptions{
    color: red;
    position:relative;
    
}
#msgBoxContainer{
    width: 60vh;
    max-height:30vh;
    overflow-y: scroll;
    background-color:  lightpink;
    
}
#msgBox{
    width: 50vh;
    color: black;
    font-weight: bolder;
}
#pagee{
    
    background-image: url("img/connectPaper.jpg");
    height: 100vh;
    overflow:hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}
#myBoard{
    width: 78vh;
    position: relative;
    margin-right: 15%;
    float:left;
    padding-left:1%;
    margin-left:2vh;
}
#resignButton{   

 margin-top:1vh;
 background-color: transparent;
 color : red;
 font-size:3vh;
}
#drawButton{
    margin-top: 1vh;
    margin-left: 4vh;
    background-color: transparent;
    color:green;    
    font-size:3vh;
}
#acceptDrawButton{
    margin-top: 1vh;
    margin-left: 4vh;
    background-color: transparent;
    color:green;    
    font-size:3vh;
    visibility: hidden;
}
.gameoverpara{
    color:white;
    font-size: xx-large;
}